@font-face {
  font-family: "Museo Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../../../font/MuseoSans-300.ttf") format("truetype");
}

@font-face {
  font-family: "Museo Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../../../font/MuseoSans-500.ttf") format("truetype");
}

@font-face {
  font-family: "Museo Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../../../font/MuseoSans-700.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Museo Sans";
}

*,
*::after,
*::before {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul,
ol {
  padding: 0px;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
  list-style: none;
  text-decoration: none;
}
